# Loading the Dataset

In [30]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import numpy as np
import seaborn as sns 
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns 
from scipy import stats
from scipy.stats import norm, skew


df = pd.read_csv('dataset.csv')
df.head()

,isShowcaseListing,longitude,timeOnZillow,zestimate,daysOnZillow,zpid,taxAssessedValue,isUnmappable,priceForHDP,dateSold,state,isFeatured,isPremierBuilder,isPreforeclosureAuction,lotAreaValue,isNonOwnerOccupied,homeStatus,latitude,lotAreaUnit,bedrooms,zipcode,homeStatusForHDP,isZillowOwned,shouldHighlight,homeType,bathrooms,rentZestimate,price,city,streetAddress,country,currency,listing_sub_type,livingArea
0,False,-80.430435,6.644696e+10,NaN,769,2066439477,NaN,False,540000,1645516800000,ON,False,False,False,NaN,True,RECENTLY_SOLD,43.397640,NaN,2.0,N2P1Z6,RECENTLY_SOLD,False,False,APARTMENT,2.0,NaN,540000,Kitchener,55 Green Valley Dr #905,CAN,CAD,{},NaN
1,False,-79.289350,7.914776e+10,NaN,916,2083631221,NaN,False,1930000,1632812400000,ON,False,False,False,NaN,True,RECENTLY_SOLD,43.670135,NaN,2.0,M4E3B4,RECENTLY_SOLD,False,False,APARTMENT,1.0,NaN,1930000,Toronto,20 Balsam Ave,CAN,CAD,{},NaN
2,False,-79.867100,NaN,NaN,-1,2070073103,NaN,False,0,1626850800000,ON,False,False,False,NaN,True,RECENTLY_SOLD,43.230705,NaN,3.0,L9A4A4,RECENTLY_SOLD,False,False,APARTMENT,2.0,NaN,0,Hamilton,420 E 13th St,CAN,CAD,{},809.0
3,False,-79.345795,8.554136e+10,NaN,990,2071864460,NaN,False,0,1626418800000,ON,False,False,False,NaN,True,RECENTLY_SOLD,43.773210,NaN,1.0,M2J0E2,RECENTLY_SOLD,False,False,APARTMENT,1.0,NaN,0,Toronto,52 Forest Manor Rd UNIT 217,CAN,CAD,{},NaN
4,False,-79.399080,9.314456e+10,NaN,1078,2071606814,NaN,False,1600,1618815600000,ON,False,False,False,NaN,True,RECENTLY_SOLD,43.703670,NaN,1.0,M5P1G9,FOR_RENT,False,False,MULTI_FAMILY,1.0,NaN,1900000,Toronto,45 Berwick Ave,CAN,CAD,{},NaN

In [59]:
# df['homeStatus'].value_counts()
df['homeStatusForHDP'].value_counts()

homeStatusForHDP
RECENTLY_SOLD    1039
FOR_SALE           11
FOR_RENT            8
Name: count, dtype: int64

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1058 entries, 0 to 1057
Data columns (total 34 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   isShowcaseListing        1058 non-null   bool
 1   longitude                1058 non-null   float64
 2   timeOnZillow             931 non-null    float64
 3   zestimate                5 non-null      float64
 4   daysOnZillow             1058 non-null   int64
 5   zpid                     1058 non-null   int64
 6   taxAssessedValue         5 non-null      float64
 7   isUnmappable             1058 non-null   bool
 8   priceForHDP              1058 non-null   int64
 9   dateSold                 1058 non-null   int64
 10  state                    1058 non-null   object
 11  isFeatured               1058 non-null   bool
 12  isPremierBuilder         1058 non-null   bool
 13  isPreforeclosureAuction  1058 non-null   bool
 14  lotAreaValue             131 non-null    float64
 15  isNonOwnerOccupied       1058 non-null   bool
 16  homeStatus               1058 non-null   object
 17  latitude                 1058 non-null   float64
 18  lotAreaUnit              131 non-null    object
 19  bedrooms                 795 non-null    float64
 20  zipcode                  1058 non-null   object
 21  homeStatusForHDP         1058 non-null   object
 22  isZillowOwned            1058 non-null   bool
 23  shouldHighlight          1058 non-null   bool
 24  homeType                 1058 non-null   object
 25  bathrooms                796 non-null    float64
 26  rentZestimate            5 non-null      float64
 27  price                    1058 non-null   int64
 28  city                     1058 non-null   object
 29  streetAddress            1058 non-null   object
 30  country                  1058 non-null   object
 31  currency                 1058 non-null   object
 32  listing_sub_type         1058 non-null   object
 33  livingArea               379 non-null    float64
dtypes: bool(8), float64(10), int64(5), object(11)
memory usage: 223.3+ KB

In [32]:
print(df.isnull().sum())

isShowcaseListing             0
longitude                     0
timeOnZillow                127
zestimate                  1053
daysOnZillow                  0
zpid                          0
taxAssessedValue           1053
isUnmappable                  0
priceForHDP                   0
dateSold                      0
state                         0
isFeatured                    0
isPremierBuilder              0
isPreforeclosureAuction       0
lotAreaValue                927
isNonOwnerOccupied            0
homeStatus                    0
latitude                      0
lotAreaUnit                 927
bedrooms                    263
zipcode                       0
homeStatusForHDP              0
isZillowOwned                 0
shouldHighlight               0
homeType                      0
bathrooms                   262
rentZestimate              1053
price                         0
city                          0
streetAddress                 0
country                       0
currency                      0
listing_sub_type              0
livingArea                  679
dtype: int64

# Data Preprocessing and Clean up

## Removing columns
Columns like state, homeStatus, lotAreaUnit, homeType, city, streetAddress, country, and currency are categorical and should be encoded to numerical values if you plan to use them in your model.

In [64]:
columns_with_many_missing = df.columns[df.isnull().mean() > 0.5]

columns_with_low_predictive_power = [
    'zpid', 'streetAddress', 'listing_sub_type', 
    'isUnmappable', 'isShowcaseListing', 'isFeatured', 
    'isPremierBuilder', 'isPreforeclosureAuction', 
    'isNonOwnerOccupied', 'isZillowOwned', 'shouldHighlight',
    'city', 'streetAddress', 'country', 'currency', 'zpid', 'lotAreaUnit',
    'homeStatusForHDP', 'homeStatus', 'state'
]

columns_to_drop = list(set(columns_with_many_missing.to_list() + columns_with_low_predictive_power))

df_dropped = df.drop(columns=columns_to_drop)

print("columns_with_many_missing:", columns_with_many_missing)
print("Columns dropped:", columns_to_drop)
print("\nRemaining columns:", df_dropped.columns.tolist())

df_dropped.head()

columns_with_many_missing: Index(['zestimate', 'taxAssessedValue', 'lotAreaValue', 'lotAreaUnit',
       'rentZestimate', 'livingArea'],
      dtype='object')
Columns dropped: ['isPremierBuilder', 'isNonOwnerOccupied', 'isFeatured', 'country', 'homeStatus', 'isShowcaseListing', 'zpid', 'isPreforeclosureAuction', 'isZillowOwned', 'city', 'lotAreaUnit', 'isUnmappable', 'streetAddress', 'currency', 'lotAreaValue', 'rentZestimate', 'shouldHighlight', 'zestimate', 'livingArea', 'listing_sub_type', 'homeStatusForHDP', 'taxAssessedValue']

Remaining columns: ['longitude', 'timeOnZillow', 'daysOnZillow', 'priceForHDP', 'dateSold', 'state', 'latitude', 'bedrooms', 'zipcode', 'homeType', 'bathrooms', 'price']

,longitude,timeOnZillow,daysOnZillow,priceForHDP,dateSold,state,latitude,bedrooms,zipcode,homeType,bathrooms,price
0,-80.430435,6.644696e+10,769,540000,1645516800000,ON,43.397640,2.0,N2P1Z6,APARTMENT,2.0,540000
1,-79.289350,7.914776e+10,916,1930000,1632812400000,ON,43.670135,2.0,M4E3B4,APARTMENT,1.0,1930000
2,-79.867100,NaN,-1,0,1626850800000,ON,43.230705,3.0,L9A4A4,APARTMENT,2.0,0
3,-79.345795,8.554136e+10,990,0,1626418800000,ON,43.773210,1.0,M2J0E2,APARTMENT,1.0,0
4,-79.399080,9.314456e+10,1078,1600,1618815600000,ON,43.703670,1.0,M5P1G9,MULTI_FAMILY,1.0,1900000

## Categorical Data Encoding
Since homeType is a categorical variable, we'll need to encode it to use it in most machine learning models, which require numerical input.

One-Hot Encoding: This method converts the categorical variable into a series of binary columns, each representing a unique category. One-hot encoding is suitable when there is no ordinal relationship between the categories. Since homeType likely does not have a natural order, this method is appropriate.

In [69]:
df['homeType'].value_counts()

homeType
SINGLE_FAMILY    410
APARTMENT        354
CONDO            246
Other             48
Name: count, dtype: int64

## Handling Sparse Categories
Given the distribution of your homeType categories, it appears that MANUFACTURED, MULTI_FAMILY, and TOWNHOUSE categories are relatively sparse compared to the others. To clean up the homeType column and ensure your model remains robust, you could group these less frequent categories into an "Other" category. This approach simplifies your model while retaining the information these categories provide.

In [73]:

df['homeType'] = df['homeType'].replace(['MANUFACTURED', 'MULTI_FAMILY', 'TOWNHOUSE'], 'Other')

print("\nNew distribution of 'homeType':")
print(df['homeType'].value_counts())

# Proceed with one-hot encoding for the 'homeType' column
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

column_transformer = ColumnTransformer(transformers=[
    ('homeType_onehot', OneHotEncoder(), ['homeType'])
], remainder='passthrough')

df_transformed = column_transformer.fit_transform(df)
df

New distribution of 'homeType':
homeType
SINGLE_FAMILY    410
APARTMENT        354
CONDO            246
Other             48
Name: count, dtype: int64

,isShowcaseListing,longitude,timeOnZillow,zestimate,daysOnZillow,zpid,taxAssessedValue,isUnmappable,priceForHDP,dateSold,state,isFeatured,isPremierBuilder,isPreforeclosureAuction,lotAreaValue,isNonOwnerOccupied,homeStatus,latitude,lotAreaUnit,bedrooms,zipcode,homeStatusForHDP,isZillowOwned,shouldHighlight,homeType,bathrooms,rentZestimate,price,city,streetAddress,country,currency,listing_sub_type,livingArea
0,False,-80.430435,6.644696e+10,NaN,769,2066439477,NaN,False,540000,1645516800000,ON,False,False,False,NaN,True,RECENTLY_SOLD,43.397640,NaN,2.0,N2P1Z6,RECENTLY_SOLD,False,False,APARTMENT,2.0,NaN,540000,Kitchener,55 Green Valley Dr #905,CAN,CAD,{},NaN
1,False,-79.289350,7.914776e+10,NaN,916,2083631221,NaN,False,1930000,1632812400000,ON,False,False,False,NaN,True,RECENTLY_SOLD,43.670135,NaN,2.0,M4E3B4,RECENTLY_SOLD,False,False,APARTMENT,1.0,NaN,1930000,Toronto,20 Balsam Ave,CAN,CAD,{},NaN
2,False,-79.867100,NaN,NaN,-1,2070073103,NaN,False,0,1626850800000,ON,False,False,False,NaN,True,RECENTLY_SOLD,43.230705,NaN,3.0,L9A4A4,RECENTLY_SOLD,False,False,APARTMENT,2.0,NaN,0,Hamilton,420 E 13th St,CAN,CAD,{},809.0
3,False,-79.345795,8.554136e+10,NaN,990,2071864460,NaN,False,0,1626418800000,ON,False,False,False,NaN,True,RECENTLY_SOLD,43.773210,NaN,1.0,M2J0E2,RECENTLY_SOLD,False,False,APARTMENT,1.0,NaN,0,Toronto,52 Forest Manor Rd UNIT 217,CAN,CAD,{},NaN
4,False,-79.399080,9.314456e+10,NaN,1078,2071606814,NaN,False,1600,1618815600000,ON,False,False,False,NaN,True,RECENTLY_SOLD,43.703670,NaN,1.0,M5P1G9,FOR_RENT,False,False,Other,1.0,NaN,1900000,Toronto,45 Berwick Ave,CAN,CAD,{},NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1053,False,-80.328642,NaN,NaN,-1,2069724639,NaN,False,0,1631689200000,ON,False,False,False,0.0,True,RECENTLY_SOLD,43.954053,sqft,1.0,L9W0L9,RECENTLY_SOLD,False,False,Other,1.0,NaN,0,Grand Valley,174366 County Road 25 N #43,CAN,CAD,{},585.0
1054,False,-80.328642,NaN,NaN,-1,2070019760,NaN,False,0,1630652400000,ON,False,False,False,0.0,True,RECENTLY_SOLD,43.954053,sqft,1.0,L9W0L9,RECENTLY_SOLD,False,False,Other,1.0,NaN,0,Grand Valley,174366 County Road 25 N #41,CAN,CAD,{},350.0
1055,False,-80.328642,NaN,NaN,-1,2069610502,NaN,False,0,1630047600000,ON,False,False,False,0.0,True,RECENTLY_SOLD,43.954053,sqft,1.0,L9W0L9,RECENTLY_SOLD,False,False,Other,1.0,NaN,0,Grand Valley,174366 County Road 25 N #11FERNWOOD,CAN,CAD,{},390.0
1056,False,-81.705990,NaN,NaN,-1,2070064633,NaN,False,0,1629702000000,ON,False,False,False,0.0,True,RECENTLY_SOLD,43.703233,sqft,1.0,N7A3X8,RECENTLY_SOLD,False,False,Other,1.0,NaN,0,Central Huron,79681 Bluewater Hwy #63,CAN,CAD,{},540.0
1057,False,-80.328642,NaN,NaN,-1,2069977316,NaN,False,0,1628233200000,ON,False,False,False,0.0,True,RECENTLY_SOLD,43.954053,sqft,1.0,L9W0L9,RECENTLY_SOLD,False,False,Other,1.0,NaN,0,Grand Valley,174366 County Road 25 N #10,CAN,CAD,{},320.0

In [67]:
df_transformed

array([[1.0, 0.0, 0.0, ..., 'CAD', '{}', nan],
       [1.0, 0.0, 0.0, ..., 'CAD', '{}', nan],
       [1.0, 0.0, 0.0, ..., 'CAD', '{}', 809.0],
       ...,
       [0.0, 0.0, 1.0, ..., 'CAD', '{}', 390.0],
       [0.0, 0.0, 1.0, ..., 'CAD', '{}', 540.0],
       [0.0, 0.0, 1.0, ..., 'CAD', '{}', 320.0]], dtype=object)