# Loading the Dataset

In [389]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import numpy as np
import seaborn as sns 
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns 
from scipy import stats
from scipy.stats import norm, skew 


df = pd.read_csv('dataset3.csv')
df.head()

,isShowcaseListing,longitude,timeOnZillow,zestimate,daysOnZillow,zpid,taxAssessedValue,isUnmappable,priceForHDP,dateSold,state,isFeatured,isPremierBuilder,isPreforeclosureAuction,lotAreaValue,isNonOwnerOccupied,homeStatus,latitude,lotAreaUnit,bedrooms,zipcode,homeStatusForHDP,isZillowOwned,shouldHighlight,homeType,bathrooms,rentZestimate,price,city,streetAddress,country,currency,listing_sub_type,livingArea
0,False,NaN,6.205267e+10,NaN,718,2071870830,NaN,False,430000,1650524400000,ON,False,False,False,NaN,True,RECENTLY_SOLD,NaN,NaN,0,M5V1B7,RECENTLY_SOLD,False,False,CONDO,1.0,NaN,430000,Toronto,600 Fleet St #409,CAN,CAD,{},NaN
1,False,-79.419914,8.036947e+10,NaN,930,2068504642,NaN,False,1452000,1632207600000,ON,False,False,False,NaN,True,RECENTLY_SOLD,43.661144,NaN,0,M6G3H2,RECENTLY_SOLD,False,False,SINGLE_FAMILY,1.0,NaN,1452000,Toronto,429 Montrose Ave,CAN,CAD,{},750.0
2,False,NaN,8.131987e+10,NaN,941,2071852833,NaN,False,430000,1631257200000,ON,False,False,False,NaN,True,RECENTLY_SOLD,NaN,NaN,0,M5V1B7,RECENTLY_SOLD,False,False,CONDO,1.0,NaN,430000,Toronto,600 Fleet St UNIT 232,CAN,CAD,{},NaN
3,False,NaN,8.563987e+10,NaN,991,2069940188,NaN,False,1300000,1626937200000,ON,False,False,False,NaN,True,RECENTLY_SOLD,NaN,NaN,0,N1S0A8,RECENTLY_SOLD,False,False,SINGLE_FAMILY,4.0,NaN,1300000,Cambridge,386 Salisbury Ave,CAN,CAD,{},NaN
4,False,NaN,6.205267e+10,NaN,718,2071870830,NaN,False,430000,1650524400000,ON,False,False,False,NaN,True,RECENTLY_SOLD,NaN,NaN,0,M5V1B7,RECENTLY_SOLD,False,False,CONDO,1.0,NaN,430000,Toronto,600 Fleet St #409,CAN,CAD,{},NaN

In [390]:
# df['homeStatus'].value_counts()
df['homeStatusForHDP'].value_counts()

homeStatusForHDP
RECENTLY_SOLD    5042
FOR_RENT           98
FOR_SALE           80
Name: count, dtype: int64

In [391]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5220 entries, 0 to 5219
Data columns (total 34 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   isShowcaseListing        5220 non-null   bool
 1   longitude                412 non-null    float64
 2   timeOnZillow             5100 non-null   float64
 3   zestimate                54 non-null     float64
 4   daysOnZillow             5220 non-null   int64
 5   zpid                     5220 non-null   int64
 6   taxAssessedValue         54 non-null     float64
 7   isUnmappable             5220 non-null   bool
 8   priceForHDP              5220 non-null   int64
 9   dateSold                 5220 non-null   int64
 10  state                    5220 non-null   object
 11  isFeatured               5220 non-null   bool
 12  isPremierBuilder         5220 non-null   bool
 13  isPreforeclosureAuction  5220 non-null   bool
 14  lotAreaValue             1990 non-null   float64
 15  isNonOwnerOccupied       5220 non-null   bool
 16  homeStatus               5220 non-null   object
 17  latitude                 412 non-null    float64
 18  lotAreaUnit              1990 non-null   object
 19  bedrooms                 5220 non-null   int64
 20  zipcode                  5220 non-null   object
 21  homeStatusForHDP         5220 non-null   object
 22  isZillowOwned            5220 non-null   bool
 23  shouldHighlight          5220 non-null   bool
 24  homeType                 5220 non-null   object
 25  bathrooms                5220 non-null   float64
 26  rentZestimate            55 non-null     float64
 27  price                    5220 non-null   int64
 28  city                     5220 non-null   object
 29  streetAddress            5220 non-null   object
 30  country                  5220 non-null   object
 31  currency                 5220 non-null   object
 32  listing_sub_type         5220 non-null   object
 33  livingArea               1251 non-null   float64
dtypes: bool(8), float64(9), int64(6), object(11)
memory usage: 1.1+ MB

In [392]:
print(df.isnull().sum())

isShowcaseListing             0
longitude                  4808
timeOnZillow                120
zestimate                  5166
daysOnZillow                  0
zpid                          0
taxAssessedValue           5166
isUnmappable                  0
priceForHDP                   0
dateSold                      0
state                         0
isFeatured                    0
isPremierBuilder              0
isPreforeclosureAuction       0
lotAreaValue               3230
isNonOwnerOccupied            0
homeStatus                    0
latitude                   4808
lotAreaUnit                3230
bedrooms                      0
zipcode                       0
homeStatusForHDP              0
isZillowOwned                 0
shouldHighlight               0
homeType                      0
bathrooms                     0
rentZestimate              5165
price                         0
city                          0
streetAddress                 0
country                       0
currency                      0
listing_sub_type              0
livingArea                 3969
dtype: int64

# Data Preprocessing and Clean up

## Removing columns
Columns like state, homeStatus, lotAreaUnit, homeType, city, streetAddress, country, and currency are categorical and should be encoded to numerical values if you plan to use them in your model.

In [393]:
columns_with_many_missing = df.columns[df.isnull().mean() > 0.5]

columns_with_low_predictive_power = [
    'zpid', 'streetAddress', 'listing_sub_type', 
    'isUnmappable', 'isShowcaseListing', 'isFeatured', 
    'isPremierBuilder', 'isPreforeclosureAuction', 
    'isNonOwnerOccupied', 'isZillowOwned', 'shouldHighlight',
    'city', 'streetAddress', 'country', 'currency', 'zpid', 'lotAreaUnit',
    'homeStatusForHDP', 'homeStatus', 'state',
     'zestimate', 'taxAssessedValue', 'rentZestimate',
     'zipcode'
]

columns_to_drop = list(set(columns_with_many_missing.to_list() + columns_with_low_predictive_power))

df_dropped = df.drop(columns=columns_to_drop)

print("columns_with_many_missing:", columns_with_many_missing)
print("Columns dropped:", columns_to_drop)
print("\nRemaining columns:", df_dropped.columns.tolist())

df_dropped.head()
df = df_dropped

columns_with_many_missing: Index(['longitude', 'zestimate', 'taxAssessedValue', 'lotAreaValue',
       'latitude', 'lotAreaUnit', 'rentZestimate', 'livingArea'],
      dtype='object')
Columns dropped: ['isPremierBuilder', 'isNonOwnerOccupied', 'isFeatured', 'country', 'homeStatus', 'isShowcaseListing', 'zpid', 'latitude', 'state', 'isPreforeclosureAuction', 'longitude', 'isZillowOwned', 'city', 'lotAreaUnit', 'isUnmappable', 'streetAddress', 'currency', 'lotAreaValue', 'rentZestimate', 'shouldHighlight', 'zestimate', 'livingArea', 'zipcode', 'listing_sub_type', 'homeStatusForHDP', 'taxAssessedValue']

Remaining columns: ['timeOnZillow', 'daysOnZillow', 'priceForHDP', 'dateSold', 'bedrooms', 'homeType', 'bathrooms', 'price']

## Categorical Data Encoding
Since homeType is a categorical variable, we'll need to encode it to use it in most machine learning models, which require numerical input.

One-Hot Encoding: This method converts the categorical variable into a series of binary columns, each representing a unique category. One-hot encoding is suitable when there is no ordinal relationship between the categories. Since homeType likely does not have a natural order, this method is appropriate.

In [394]:
df['homeType'].value_counts()

homeType
SINGLE_FAMILY    3577
CONDO             905
APARTMENT         461
TOWNHOUSE         222
MULTI_FAMILY       55
Name: count, dtype: int64

## Handling Sparse Categories
Given the distribution of your homeType categories, it appears that MANUFACTURED, MULTI_FAMILY, and TOWNHOUSE categories are relatively sparse compared to the others. To clean up the homeType column and ensure your model remains robust, you could group these less frequent categories into an "Other" category. This approach simplifies your model while retaining the information these categories provide.

In [395]:
print(df.columns)
# print(type(df))
# df['homeType'] = df['homeType'].replace(['MANUFACTURED', 'MULTI_FAMILY', 'TOWNHOUSE'], 'Other')

# print("\nNew distribution of 'homeType':")
# print(df['homeType'].value_counts())
# print(type(df))

Index(['timeOnZillow', 'daysOnZillow', 'priceForHDP', 'dateSold', 'bedrooms',
       'homeType', 'bathrooms', 'price'],
      dtype='object')

In [396]:
from sklearn.preprocessing import OneHotEncoder
import pandas as pd

# Initializing the OneHotEncoder without specifying 'sparse'
encoder = OneHotEncoder(drop='first')  # Assuming 'drop' argument is supported in your version

# Fit and transform 'homeType' column
homeType_encoded_sparse = encoder.fit_transform(df[['homeType']])

# Convert the sparse matrix to a dense matrix and then to a DataFrame
homeType_encoded_df = pd.DataFrame(homeType_encoded_sparse.toarray(), columns=encoder.get_feature_names_out(['homeType']))

# Concatenate the encoded DataFrame back with the original DataFrame (excluding the original 'homeType' column)
df_final = pd.concat([df.drop('homeType', axis=1), homeType_encoded_df], axis=1)
df_final.columns
df = df_final

## Removing duplicates

In [397]:
# Check for duplicate rows
print("Duplicates before:", df.duplicated().sum())

# Remove duplicate rows
df_removed = df.drop_duplicates()

# Check again to confirm removal
print("Duplicates after:", df_removed.duplicated().sum())

print("Number of rows:", len(df_removed))

Duplicates before: 857
Duplicates after: 0
Number of rows: 4363

## Remove where price is 0

In [398]:
print((df['price'] == 0).sum())
print((df['priceForHDP'] == 0).sum())
print(((df['price'] == 0) & (df['priceForHDP'] != 0)).sum())
df = df[df['price'] != 0]
print('------------')
print((df['price'] == 0).sum())
print((df['priceForHDP'] == 0).sum())
print(((df['price'] == 0) & (df['priceForHDP'] != 0)).sum())

num_rows = df.shape[0]
print(f"Number of rows: {num_rows}")

0
0
0
------------
0
0
0
Number of rows: 5220

# Exploratory Data Analysis (EDA)

## Describe

In [399]:
# display basic descriptive statistics for numerical columns
print(df.describe())

       timeOnZillow  daysOnZillow   priceForHDP      dateSold     bedrooms  \
count  5.100000e+03   5220.000000  5.220000e+03  5.220000e+03  5220.000000
mean   6.292070e+10    711.285824  1.453326e+06  1.649496e+12     3.677011
std    1.816487e+10    234.787378  9.182242e+05  1.798583e+10     1.760276
min    2.004717e+09     -1.000000  1.575000e+03  1.617952e+12     0.000000
25%    5.306723e+10    609.000000  8.500000e+05  1.634886e+12     2.000000
50%    6.265758e+10    724.000000  1.275000e+06  1.649747e+12     4.000000
75%    7.838234e+10    899.000000  1.722500e+06  1.659424e+12     5.000000
max    9.462557e+10   1095.000000  5.200000e+06  1.710572e+12     8.000000

         bathrooms         price  homeType_CONDO  homeType_MULTI_FAMILY  \
count  5220.000000  5.220000e+03     5220.000000            5220.000000
mean      2.852586  1.474536e+06        0.173372               0.010536
std       1.376055  8.993992e+05        0.378605               0.102115
min       0.000000  1.600000e+03        0.000000               0.000000
25%       2.000000  8.737500e+05        0.000000               0.000000
50%       3.000000  1.279000e+06        0.000000               0.000000
75%       4.000000  1.749000e+06        0.000000               0.000000
max       8.000000  5.200000e+06        1.000000               1.000000

       homeType_SINGLE_FAMILY  homeType_TOWNHOUSE
count             5220.000000         5220.000000
mean                 0.685249            0.042529
std                  0.464461            0.201811
min                  0.000000            0.000000
25%                  0.000000            0.000000
50%                  1.000000            0.000000
75%                  1.000000            0.000000
max                  1.000000            1.000000

## remove nan

In [400]:
categorical_columns = df.select_dtypes(include=['object', 'bool']).columns

print("Categorical columns:"+ str(categorical_columns))

for column in categorical_columns:
    print(f"Value counts for {column}:")
    print(df[column].value_counts())
    print("\n")

Categorical columns:Index([], dtype='object')

In [401]:
# Count columns with NaN values
nan_cols_count = df.columns[df.isna().any()].shape[0]
print(f"Number of columns with NaN values: {nan_cols_count}")

# Remove columns with NaN values
df = df.dropna(axis=1)
print(f"Number of columns with NaN values: {nan_cols_count}")

Number of columns with NaN values: 1
Number of columns with NaN values: 1

# Training the Model
Implementing a Linear Regression model and split the data into training and testing sets

In [402]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
import numpy as np

X = df.drop('price', axis=1)  
y = df['price']  

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

linear_model = LinearRegression()

linear_model.fit(X_train, y_train)

y_pred = linear_model.predict(X_test)

## Evaluation

In [403]:
# Evaluating the model using Root Mean Squared Error (RMSE)
rmse = np.sqrt(mean_squared_error(y_test, y_pred))

print(f"Root Mean Squared Error (RMSE) on Test Set: {rmse}")

Root Mean Squared Error (RMSE) on Test Set: 174111.99950849963

In [404]:
from sklearn.metrics import r2_score

r_squared = r2_score(y_test, y_pred)

print(f"R-squared (R2) on Test Set: {r_squared}")

R-squared (R2) on Test Set: 0.959728287571592

In [405]:
# Get columns starting with 'homeType_'
homeType_cols = [col for col in df.columns if 'homeType_' in col]

# Count rows where all 'homeType_' columns are 0
count = df[(df[homeType_cols] == 0).all(axis=1)].shape[0]

print(count)

461